@charset "utf-8";

/*Main body div styling
background color
align all text left and set size and font
*/
body {
	background-color: #C2D1E0;
	color: #000305;
	font-size: 87.5%; /*Base font size is 14px*/
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.5%;
	text-align: left;
	color: #000305;
}

/*Style the links and get rid of needless underline*/
a {
	text-decoration: none;
	color: #CF5C3F;
}

/*Style when visited*/
a:link, a:visited {
	color: #CF5C3F;
}

/*Style when hover and active*/
a:hover, a:active {
	background-color: #CF5C3F;
	color: white;
}

/*Style the body*/
.body {
	margin: 0 auto;
	width: 70%;
	clear: both;
	/*makes it so that no floating elements will be on the left or the right of it*/
}

/*add color + height + style +useability to the nav bar in the header*/
.mainheader nav {
	background-color: #666;
	height: 40px;
	border-radius: 5px;
	margin-bottom: 2%;
	margin-top: 2%;
}

/*Make the list bullet points not visible 
have no margin but not overlapping
*/
.mainheader nav ul {
	list-style: none;
	margin: 0 auto;
}

/*Make sure it floats to the left and displays inline */
.mainheader nav ul li {
	float: left;
	display: inline;
	/*Style the links*/
}

/*Style the links in the mainheader nav when visited and normal*/
.mainheader nav a:link, .mainheader nav a:visited {
	color: #FFF;
	display: inline-block;
	padding: 20px 25px;
	height: 0px;
}

/*Style the links when hover/active/normal and visited */
.mainheader nav a:hover, .mainheader nav a:active, .mainheader nav .active a:link,
	.mainheader nav .active a:visited {
	background-color: #CF5C3F;
	text-shadow: none;
}

/*Style the border */
.mainheader nav ul li a {
	border-radius: 5px;
}

/*Basic border styling + line height*/
.mainContent {
	border-radius: 5px;
	line-height: 25px;
}

/*Make content 70% of page */
.content {
	width: 70%;
	float: left;
	border-radius: 5px;
}

/*Make some content 100% of page */
.contentFull {
	width: 100%;
	float: left;
	border-radius: 5px;
}

.topcontent {
	background-color: white;
	border-radius: 5px;
	padding: 3% 5%;
	margin: 0 0 2% 0;
}

/*Style nav bar in the topcontent when used */
.topcontent nav {
	background-color: #666;
	height: 60px;
	width: 75%;
	border-radius: 5px;
	margin: 2% 15% 2% 15%;
}

/*When needed dont display any divs inside topcontent */
.topcontent div{
	display: none;
}

/*dont display ul style*/
.topcontent header nav ul {
	list-style: none;
	margin: 0 auto;
}

/*style the nav bar */
.topcontent header nav ul li {
	float: left;
	display: inline;
	/*Style the links*/
}

/*More styling of the links */
.topcontent header nav a:link, .topcontent header nav a:visited {
	color: #FFF;
	display: inline-block;
	padding: 20px 25px;
	height: 20px;
}

/*More styling of the links in top content*/
.topcontent header nav a:hover, .topcontent header nav a:active,
	.topcontent header nav .active a:link, .topcontent header nav .active a:visited
	{
	background-color: #CF5C3F;
	text-shadow: none;
}

/*More styling of the links */
.topcontent header nav ul li a {
	border-radius: 5px;
}

/*Style the mid content divs */
.midcontent {
	background-color: white;
	border-radius: 5px;
	padding: 3% 5%;
	margin: 0 0 2% 0;
}

/*Style bottom content divs */
.bottomcontent {
	background-color: white;
	border-radius: 5px;
	padding: 3% 5%;
	margin: 0 0 2% 0;
}

/*Style the h2 in top content */
.topcontent header h2 {
	color: #CF5C3F;
}

/*style all h2 */
h2 {
	color: #CF5C3F;
}

/*Style the sidebar top */
.side-top {
	width: 21%;
	float: left;
	background-color: white;
	border-radius: 5px;
	margin: 0 0 2% 3%;
	padding: 2% 3%;
}

/*Style the sidebar mid */
.side-mid {
	width: 21%;
	float: left;
	background-color: white;
	border-radius: 5px;
	/*margin top, right, bottom, left*/
	margin: 0 0 2% 3%;
	padding: 2% 3%;
}

/*Style the sidebar bottom */
.side-bottom {
	width: 21%;
	float: left;
	background-color: white;
	border-radius: 5px;
	padding: 2% 3%;
	margin: 0 0 2% 3%;
	overflow: auto;
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.5%;
	text-align: left;
}

/*Style the footer */
.mainFooter {
	width: 100%;
	height: 80px;
	float: left;
	border-radius: 5px;
	background-color: #666;
	margin: 0 0;
	float: left;
}

/*Style the footer paragraph */
.mainFooter p {
	color: white;
	width: 92%;
	margin: 5% auto;
}

/*Style the info class */
.info {
	font-style: italic;
	color: #999;
	font-size: 90%;
}

/*Style the footer list */
.mainFooter ul li {
	display: inline-block;
	margin: 0 auto;
	float: right;
}

/*This changes the entire page when it is made smaller eg: on a phone
All the classes that need to be changed are here 
they are not there if they dont need to be changed
 */
/* Making the page responsive*/
@media only screen and (min-width: 150px) and (max-width: 600px) {
	/*Style the body*/
	.body {
		width: 90%;
		font-size: 95%;
	}

	/*Style the image*/
	.mainHeader img {
		width: 100%;
	}
	.mainheader nav {
		height: 240px;
	}
	.mainheader nav ul {
		padding-left: 0;
	}
	.mainheader nav ul li {
		width: 100%;
		margin: 0 auto;
	}
	.mainheader nav a:link, .mainheader nav a:visited {
		padding: 20px 25px;
		height: 0px;
		display: block;
	}
	.content {
		width: 100%;
		float: left;
		margin-top: 2%;
	}
	.info {
		display: none;
	}
	.topcontent {
		background-color: white;
		padding: 3% 5%;
		margin-top: 2px;
		margin-bottom: 2%;
	}
	/*Resizing the topcontent navigation bar*/
	.contentInterests {
		width: 100%;
		float: left;
		border-radius: 5px;
	}
	.topcontent nav {
		height: 300px;
		width: 70%;
	}
	.topcontent header nav ul {
		list-style: none;
		margin: 0 auto;
		padding-left: 0;
	}
	.topcontent header nav ul li {
		width: 100%;
		margin: auto;
	}
	.topcontent header nav a:link, .topcontent header nav a:visited {
		color: #FFF;
		display: block;
		padding: 20px 25px;
		height: 20px;
	}
	/*Resizing the mid content and the sides also*/
	.midcontent {
		padding: 3% 5%;
		margin-top: 3%;
	}
	.bottomcontent {
		padding: 3% 5%;
		margin-top: 3%;
	}
	.side-top {
		width: 94%;
		float: left;
		margin: 1% 0 2% 0;
		padding: 2% 3%;
	}
	.side-mid {
		width: 94%;
		float: left;
		margin: 1% 0 2% 0;
		padding: 2% 3%;
	}
	.side-bottom {
		width: 94%;
		float: left;
		margin: 1% 0 2% 0;
		padding: 2% 3%;
	}
	.mainFooter {
		width: 100%;
		height: 40px;
		float: left;
		border-radius: 5px;
		background-color: #666;
		margin: 2% 0;
	}
}

/*This changes the entire page when it is made smaller eg: on a phone
All the classes that need to be changed are here 
they are not there if they dont need to be changed
 */
/* Making the page responsive*/
@media only screen and (min-width: 600px) and (max-width: 1200px) {
	/*Style the body*/
	.body {
		width: 90%;
		font-size: 95%;
	}

	/*Style the image*/
	.mainHeader img {
		width: 100%;
	}
	.mainheader nav {
		height: 240px;
	}
	.mainheader nav ul {
		padding-left: 0;
	}
	.mainheader nav ul li {
		width: 100%;
		margin: 0 auto;
	}
	.mainheader nav a:link, .mainheader nav a:visited {
		padding: 20px 25px;
		height: 0px;
		display: block;
	}
	.content {
		width: 100%;
		float: left;
		margin-top: 2%;
	}
	.info {
		display: none;
	}
	.topcontent {
		background-color: white;
		padding: 3% 5%;
		margin-top: 2px;
		margin-bottom: 2%;
	}
	/*Resizing the topcontent navigation bar*/
	.contentInterests {
		width: 100%;
		float: left;
		border-radius: 5px;
	}
	.topcontent nav {
		height: 300px;
		width: 70%;
	}
	.topcontent header nav ul {
		list-style: none;
		margin: 0 auto;
		padding-left: 0;
	}
	.topcontent header nav ul li {
		width: 100%;
		margin: auto;
	}
	.topcontent header nav a:link, .topcontent header nav a:visited {
		color: #FFF;
		display: block;
		padding: 20px 25px;
		height: 20px;
	}
	.midcontent {
		padding: 3% 5%;
		margin-top: 3%;
	}
	.side-top {
		width: 94%;
		float: left;
		margin: 1% 0 2% 0;
		padding: 2% 3%;
	}
	.side-mid {
		width: 94%;
		float: left;
		margin: 1% 0 2% 0;
		padding: 2% 3%;
	}
	.side-bottom {
		width: 94%;
		float: left;
		margin: 1% 0 2% 0;
		padding: 2% 3%;
	}
	.mainFooter {
		width: 100%;
		height: 60px;
		float: left;
		border-radius: 5px;
		background-color: #666;
		margin: 2% 0;
	}
}